
.header {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Adjust the z-index based on your layout */
    background-color: blue-900; /* Set the desired background color */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow for styling */
  }
  